.list_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 2rem;
  row-gap: 1rem;
  list-style: none;

  margin: 0 auto;
}

.list_card__item {
  @media (min-width: 660px) {
    width: 18rem;
  }

  @media (max-width: 659px) {
    width: 100%;
  }
}
