.details {
  position: relative;

  min-height: 40rem;

  padding: 2rem;

  border: 2px solid var(--color_base);
  border-radius: 4px;
}

.details__close {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;

  width: 1.6rem;
  height: 1.6rem;
}

.details__pic {
  position: relative;

  width: 100%;
  min-height: 20rem;
}

.details__image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.details__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
