.filed {
  position: relative;
  padding: .4rem  .4rem 1.6rem;
  font-size: 2rem;

  text-align: left;
}

.filed__label {
  display: block;
  padding-left: 1em;

  font-size: .6em;
  font-weight: 500;

  cursor: pointer;
}

.filed__wr {
  border: 2px solid var(--color_base);
  border-radius: var(--border_radius);

  overflow: hidden;

  transition: border-color .3s;

  &.filed__wr--error {
    border-color: var(--color_error);
  }

  &.filed__wr--focus {
    border-color: var(--color_hover);
  }
}

.filed__error {
  position: absolute;
  bottom: 0;
  left: 1em;

  display: none;

  font-size: .6em;
  font-weight: 500;
  color: var(--color_error);

  &.filed__error--on {
    display: block;
  }
}
