.checkbox {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  padding: .4rem  .4rem 1.6rem;

  font-size: 2rem;

  text-align: left;
}

.checkBox__marker {
  display: block;
  width: 1em;
  height: 1em;

  padding: 1px;

  border: 2px solid var(--color_base);
  border-radius: var(--border_radius);

  overflow: hidden;
  cursor: pointer;

  transition: border-color .3s;

  &.filed__wr--error {
    border-color: var(--color_error);
  }

  &.checkBox__marker--focus {
    border-color: var(--color_hover);
  }
}

.checkbox__label {
  padding-left: 0.6em;

  font-size: 0.5em;
}

.checkbox__input {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  appearance: none;

  &:checked ~ .checkBox__marker::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color_hover);

    border-radius: var(--border_radius);
  }

  &:focus ~ .checkBox__marker {
    border-color: var(--color_hover);
  }
}
