$breakpoints: (
  ("xs", "320px"),
  ("sm", "768px"),
  ("md", "1024px"),
  ("lg", "1200px"),
  ("xl", "1600px")
);

.grid__container {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  width: 100%;
}

@each $breakpoint in $breakpoints {
  $prefix: nth($breakpoint, 1);
  $maxWidth: nth($breakpoint, 2);

  @media (min-width: $maxWidth) {

    @for $i from 1 through 12 {
      $width: calc(100% / 12) * $i;

      .grid__item--#{$prefix}-#{$i} {
        width: $width;
      }
    }
  }
}
